body {
    background-color: #dfdfdf;
}

.todo {
    border: 2.5px solid #4FA9EA; 
    
}

th, td {
    text-align: center;
    padding: 10px;
}
.table {
    margin-left: auto;
    margin-right: auto;
    width: 100%;  
    
}

.white {
    background: white;
}

.grey {
    background: #F1F1F1;
}
thead {
    background: linear-gradient(#54B2EA, #3D80E7);
    color: white;
}
tbody > tr:hover{
    background-color: #ABD6F9;
}

.img {
    display: flex;
    justify-content: space-around;
}

.up {
    display: flex;
    justify-content: space-between;
    background: white;
    padding: 10px;
}



