body {
    background-color: #dfdfdf;
}

.todo {
    border: 2.5px solid #4FA9EA;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    overflow: hidden;
}

th, td {
    text-align: center;
    padding: 10px;
}
.table {
    margin-left: auto;
    margin-right: auto;
    width: 100%;  
}

.white {
    background: white;
}

.grey {
    background: #F1F1F1;
}
thead {
    background: linear-gradient(#54B2EA, #3D80E7);
    color: white;
    margin: 0;
}
tbody > tr:hover { 
    background-color: #ABD6F9;
}

.img {
    display: flex;
    justify-content: space-around;
}

.up, .down {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    padding: 15px;
}

.tabledown, .tabledown td {
    border: 2.5px solid #888686;
    border-collapse: collapse;
    background-color: #ABD6F9;
}

.tabledown  td:nth-child(3){
    background-color: white;
}

.tabledown td:first-child, .tabledown td:nth-child(2){
    color:white;
}

/* quitar los borders left y right de la tabla
naaaaaaaaaaaaaaaaaaaaaaaaaaah que le den :D */




