.cabeceraLogo {
    background-color: #3599DB;
    display:flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 25px 25px 0 0;

}

.izquierdaHeader {
    display:inline-block;
    /* width:70%; */

}

.derechaHeader {
    display:inline-block;
    /* width: 30%; */
    /* text-align: right; */
}

.fotoLogo {
    width: 150px;
    vertical-align: middle;
    border-radius: 0px 25px 0 0;
}

h1 {
    margin:0;
    margin-left: 3em;
}

h2 {
    margin: 0;
    margin-bottom: 1em;
}


main {
    background-color: #ECF0F1;
    padding: 0.1px; /*Para resolver el problema del colapsado del margin-top (línea 48)*/
    
}

.noticia {
    background-color: #F5F5F5;
    width: 70%;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    
}

.noticiaHead {
    padding: 0.5em 1em;
    border-left: 5px solid tomato;
    border-radius: 5px;
}