body {
    margin:0;
}

.caja {
  display: inline-block;
  background-color: blue;
  height: 10px;
  width: 50%;
}

.caja2 {
  display: inline-block;
  background-color: green;
  height: 10px;
  width: 50%;
}
