* {
  font-family: monospace;
}

:root {
--ancho: 100px;
--alto: 100px;
}

body {
  background-color: hsl(200, 25%, 15%);
}

p {
  margin: 15px;
  background-color: tomato;
  border: 2.5em solid;
  padding: 0.5em 1em;
  border-color: darkmagenta darkolivegreen darkorchid darkseagreen;
}

/* [condiciones] > [a qué elemento le aplico la regla] */
.caja:hover > .subcaja {
  margin-left: 10px;
}

.caja {
  margin: 15px;
  height: 60px;
  width: 90px;
  background: chocolate;
  padding: 0.01px;
  overflow: hidden;
}

.subcaja {
  margin-top: 10px;
  margin-left: 90px;
  height: 10px;
  width: 40px;
  background: cyan;
  transition: margin 2s;
}

.cojo {
  display: inline-block;
  background-color: crimson;
  padding: 2px, 4px;
  margin: 10px;
}

.circulo {
  height: 5px;
  width: 5px;
  background-color: red;
  border-radius: 20px 20px;
  padding: 10px;
  overflow: hidden;
  transition: 1.5s;
}

.triangulo {
  transform: scaleY(0.5);
  border: 20px solid transparent;
  border-left-color: white;
  margin-top: 5px;
  margin-left: -80px;
  transition: 1.5s;
}

.circulo:hover {
  height: 50px;
  width: 80px;
}

.circulo:hover > .triangulo {
  margin-left: 30px;
}

.tablero {
    
    border: 1.5px solid darkkhaki;
    height: var(--alto);
    width: var(--ancho);
    background-color: cornflowerblue;
    
}

.blanco {

height: 12.5px;
width: 12.5px;
background-color: white;
box-shadow: 12.5px 0px black,
            25px 0px white,
            37.5px 0px black,
            50px 0px white,
            62.5px 0px black,
            75px 0px white,
            87.5px 0px black,

            0px 12.5px black,
            12.5px 12.5px white,
            25px 12.5px black,
            37.5px 12.5px white,
            50px 12.5px black,
            62.5px 12.5px white,
            75px 12.5px black,
            87.5px 12.5px white,

            0px 25px white,
            12.5px 25px black,
            25px 25px white,
            37.5px 25px black,
            50px 25px white,
            62.5px 25px black,
            75px 25px white,
            87.5px 25px black,

            0px 37.5px black,
            12.5px 37.5px white,
            25px 37.5px black,
            37.5px 37.5px white,
            50px 37.5px black,
            62.5px 37.5px white,
            75px 37.5px black,
            87.5px 37.5px white,

            0px 50px white,
            12.5px 50px black,
            25px 50px white,
            37.5px 50px black,
            50px 50px white,
            62.5px 50px black,
            75px 50px white,
            87.5px 50px black,

            0px 62.5px black,
            12.5px 62.5px white,
            25px 62.5px black,
            37.5px 62.5px white,
            50px 62.5px black,
            62.5px 62.5px white,
            75px 62.5px black,
            87.5px 62.5px white,

            0px 75px white,
            12.5px 75px black,
            25px 75px white,
            37.5px 75px black,
            50px 75px white,
            62.5px 75px black,
            75px 75px white,
            87.5px 75px black,

            0px 87.5px black,
            12.5px 87.5px white,
            25px 87.5px black,
            37.5px 87.5px white,
            50px 87.5px black,
            62.5px 87.5px white,
            75px 87.5px black,
            87.5px 87.5px white;
}

.marco {
    background-color: rgb(37, 4, 182);
    padding: 2em;
}

.sol { 
  display: inline-block; 
  width:calc(var(--ancho)/2);
    height:calc(var(--alto)/2);
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    margin-top: -15px;
    box-shadow: -5px -5px 10px 1.5px inset hsl(45, 100%, 50%),
                5px 5px 5px 1.5px inset hsl(55, 100%, 75%),
                0px 0px 5px 50px inset hsl(61, 91%, 66%),
                0px 0px 50px 25px  hsl(50, 88%, 76%);
    transition: margin-left 3s, box-shadow 6s;
}

.luna {
    display: inline-block;
    width:calc(var(--ancho)/2);
    height:calc(var(--alto)/2);
    background-color: rgb(179, 162, 162);
    border-radius: 50%;
    margin-left:350px;
    
    box-shadow: -5px -5px 10px 1.5px inset hsl(0, 0%, 30%),
    5px 5px 5px 1.5px inset hsl(60, 1%, 77%),
    0px 0px 5px 50px inset hsl(60, 5%, 61%),
    0px 0px 50px 25px hsl(48, 4%, 45%);
    transition: 3s;
    
    
}

.planeta {
    width:calc(var(--ancho)/4);
    height:calc(var(--alto)/4);
    background-color: hsl(255,75%,50%);
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: -5px -5px 10px 1.5px inset hsl(255, 75%, 25%),
                5px 5px 5px 1.5px inset hsl(255, 75%, 75%),
                0px 0px 15px hsl(0, 0%, 100%);
    
            }

.marco:hover > .sol {
    margin-left:200px;
    box-shadow: -5px -5px 10px 1.5px inset hsl(0, 1%, 27%),
                5px 5px 5px 1.5px inset hsl(0, 0%, 31%),
                0px 0px 5px 50px inset hsl(0, 0%, 27%),
                0px 0px 50px 25px  hsl(48, 4%, 45%);
}

.marco:hover > .luna {
  margin-left:-50px;
}

li {
  background-color: deepskyblue;
}

.item {
  background-color: deeppink;
}

ul>.item~li {
  background-color: rgb(243, 228, 14);
}

.cajeton {
  display:flex;
  align-items: center;
  justify-content: center;
  height:150px;
  width:300px;
  background-color: rgb(23, 182, 221);
  border-radius: 5%;
  margin-left: auto;
  margin-right: auto;
  
}

.imgs {
  display:flex;
  align-items: center;
  justify-content: center;
  height:150px;
  width:300px;
  background-color: blueviolet;
  border-radius: 5%;
  margin-left: auto;
  margin-right: auto;
  
}

.cajetilla {
  background-image: url(../img/dianaGif.gif);
  background-position: center;
  background-repeat: no-repeat;
  background-size:cover;
  background-color: transparent;
}

.cajetilla2 {
  background-image: url(../img/VS.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size:50px;
  background-color: transparent;
}

.cajetilla3 {
  background-image: url(../img/leonaGif.gif);
  background-position: center;
  background-repeat: no-repeat;
  background-size:cover;
  background-color: transparent;
}

.cajeton > div {
  display:inline-block;
  height: 75px;
  width: 75px;
  margin:5px;
  border-radius: 50%;
}

/* [class*="cajetilla"]{
  background-color: rgb(6, 72, 172);
} */


