* {
    font-family: monospace;
    font-size: 1.25rem;
    margin: 0;
    padding: 0;
    }

body {
    background-color: #FAF2E4;
    text-align: center;
    margin: 100px;
}

h1 {
    font-size: 1.35em;
}

h2 {
    color: #D36B6E;
}

h2, p {
    text-align: left;
}

h2 {
    margin: 25px 0 25px 0;
}
