body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    background-color: rgba(49, 53, 170, 1);
    color: white;
}

.main {
    width: 100vw;
    height: auto;
    margin: 20px auto;
    padding: 25px;
    text-align: center;
}

.forms {
    width: 40%;
    margin: 40px auto;
    height: auto;
    background-color: rgba(10, 11, 34, 0.5);
    padding: 25px;
    border-radius: 5px;
}

.forms label, .forms input:not(.radio input), .forms select {
    display:flex;
    align-items: center;
    margin: 15px;
    text-align: left;
    width: 90%;
    height: 30px;
    border-radius: 5px;
}

.radio {
    text-align: left;
}
.radio input {
    margin: 10px;   
    zoom: 1.5;
    vertical-align: middle;
}

textarea {
    width: 90%;
    height: auto;
    resize: none;
}

#submit {
    display: block;
    margin: auto;
    color: white;
    background-color: rgb(19, 168, 56);
    height: 50px;
    margin-top: 30px;
    text-align: center;
}



