body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    background-color: #6D6EA8;
    color: white;
}

.main {
    width: 100vw;
    height: auto;
    margin: 20px auto;
    padding: 25px;
    text-align: center;
}

.forms {
    width: 40%;
    height: 400px;
    margin: 40px auto;
    background-color: rgba(35, 38, 75, 0.5);
    padding: 25px;
    border-radius: 5px;
}

.info {

}

.info label, .info input {
    display: block;
    width: 80%;
}

input {
    height: 25px;
    border-radius: 5px;
}

