* {
    font-family: "Porsche Next","Arial Narrow",sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1rem;
    }

    body {
        width: 100vw;
        background-color: rgb(41, 41, 41);
        color: white;
    }

    header {
        text-align: center;
        padding: 15px;
    }

    table {
        width: 50%;
        margin: 5em auto;
    }

    table, td {
        border-collapse: collapse;
        padding: 15px;
    }

    table tr :nth-child(1){
        border-right: solid royalblue 1px;;
    }

    a {
        text-decoration: none;
        color:rgb(120, 120, 122)
    }

    footer {
        margin: 15px;
        text-align: center;
    }

    
    