/* * {
    margin: 0;
    padding: 0;
} */

body {
    background: #acb6e5;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #86fde8, #acb6e5);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #86fde8, #acb6e5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.all {
    transform: translateX(20%) translateY(50%);
}

form {
width: 1000px;
display: flex;
justify-content: center;


}


div {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;

}

label {
    display: inline-block;
    width: 30ch;
    text-align: right;

}

fieldset {
    margin: 0.5rem;
    border: none;
    border-radius: 15px;
    background: #5433FF;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #A5FECB, #20BDFF, #5433FF);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #A5FECB, #20BDFF, #5433FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

input {
    border-radius: 1%;
}
